body{
	background-image: url(../img/2.jpg);
	background-repeat: no-repeat;
}
#intro{
	max-width: 50%;
	margin: 50px auto 0px;
	color: #fff;
	background-color: #ff33cc;
	opacity: 0.5;
	text-align: center;
	border: 1px solid #b0c4de;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 41px;
}
#section1{
	height: auto;
	background-color: #000;
    opacity: 0.5;
	margin-top: 20px;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
}
.header{
	max-width: 27%;
	margin: 50px auto 0px;
	color: #fff;
	background-color: #ff33cc;
	text-align: center;
	border: 1px solid #b0c4de;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 41px;
}
form{
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #ff33cc;
	background-color: transparent;
	border-radius: 0px 0px 10px 10px;
}
.input-group{
	margin: 10px 0px 10px 0px;
	color: #ff33cc;
	
}
.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn{
	padding: 10px;
	font-size: 15px;
	color: #fff;
	background-color: #ff33cc;
	border: none;
	border-radius: 5px;
}